.home-header-image-holder {
    height: 25%;
}
.feature-item {
    height: 12rem;


}
.card {
    margin-bottom: 3;
    
    height: 30rem;
}

.card-body {
    margin-bottom: 1rem;
    height: 11rem;
}

.footer-link, .footer-link:hover,
  .footer-link:focus {
    text-decoration: none;
  }
  .card-like {
    height: 50rem;
    width: 100%;
    box-shadow: inset;
    
  }
  .my_card {
    height: 22rem;
  }
  .main-header {
    box-sizing: border-box;
  }