
.default-header{
    background-image: url(img/Navbar.jpg);
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 100px;
}
.banner_holder{
    background-image: url(img/Navbar.jpg);
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 50px;
}
